# Dependencies
node_modules/

# Environment variables
.env

# Build output
dist/
build/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Prisma generated client
backend/node_modules/
frontend/node_modules/
